.arrow {
   position: absolute;
   background-image: url(image/arrow_down.png);
   width: 28px;
   height: 15px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
  
 }