* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: grid;
  text-align: center;
  justify-content: center;

}

section {
  max-width: 1600px;
  margin: 0 auto;
 


}

.first {
  background-image: url(image/head.png);
  background-position: center;
  background-repeat: no-repeat;
  // background-size: contain;
 height: 800px;

}



.header {
  // width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;
  height: 85px;
  margin-left: 425px;
  margin-right: 425px;

}


.menu-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
line-height: 85px;
  li {
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    // margin: 5px;
    width: 100px;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.685);
      letter-spacing: 1px;
    }
  }
}


.menu-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  line-height: 85px;


  li {
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    // margin: 5px;
    width: 100px;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.685);
      letter-spacing: 1px;
    }
  }
}

.logo {
  margin: 0 30px;
}




.new-generation {

  background-color: #f7f7f7;
  justify-content: center;


  .chain {

    width: 50px;
    background-image: url(image/chain.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 250px;
    margin-bottom: -80px;

  }

  @import 'h2-style';
  @import 'p-style';

  p {
    max-width: 1080px;
    padding: 0 20px 0 20px;
    padding-bottom: 140px;
  }

}

.vintage {
  display: grid;

  grid-template-areas:
    'vintage-left vintage-text'
    'vintage-left vintage-bottom'
  ;

  .vintage-left {
    grid-area: vintage-left;
  }

  .vintage-text {
    grid-area: vintage-text;
    padding-left: 50px;
    padding-right: 50px;
  }

  .vintage-bottom {
    grid-area: vintage-bottom;
    position: relative;
  }

  @import 'h2-style';

  @import 'p-style';

  @import 'line';

  @import 'arrow';

  .vintage-text img {
    margin-top: 48px;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 40px;
    text-align: justify;
  }



}

.la-boriosa {
  display: grid;
  grid-template-areas:
    'boriosa-text boriosa-right'
    'boriosa-bottom boriosa-right'
  ;

  .boriosa-text {
    grid-area: boriosa-text;
    padding-left: 50px;
    padding-right: 50px;

    h2 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 40px;
      text-align: justify;
    }

    img {
      margin-top: 45px;
    }


  }

  .boriosa-bottom {
    grid-area: boriosa-bottom;
    position: relative;
  }

  .boriosa-right {
    grid-area: boriosa-right;
    position: relative;

  }

  .bor-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }

  @import 'h2-style';

  @import 'p-style';

  @import 'line';

  @import 'arrow';


}


.retro-bike {
  display: grid;

  @import 'h2-style';

  @import 'p-style';

  @import 'line';

  @import 'arrow';


  grid-template-areas:
    'retro-left retro-text retro-right'
    'retro-left retro-middle-bottom retro-right'

  ;

  .retro-left {
    grid-area: retro-left;
  }

  .retro-text {
    grid-area: retro-text;
    padding-left: 50px;
    padding-right: 50px;

    h2 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 40px;
      text-align: justify;
    }

    img {
      margin-top: 37px;
    }
  }



  .retro-middle-bottom {
    grid-area: retro-middle-bottom;
  }

  .retro-right {
    grid-area: retro-right;
  }

}




//Slider

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slider {
  background-color: #f7f7f7;
  position: relative;



  .aod-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 35px;
    letter-spacing: 2;
  }

  .title {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .title span {
    font-weight: bold;
  }

  .time {
    color: rgba(0, 0, 0, 0.486);
  }

  .slide1 p {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 185px;
    font-size: 24px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.486);
    line-height: 1.5;

  }

  .slick-dots {
    bottom: 70px;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: inherit;
  }

  .slick-dots .slick-active {
    background-color: rgba(128, 128, 128, 0.575);

  }

  .slick-dots li button:before {
    content: none;
  }

}


.shop-now {

  display: grid;
  grid-template-areas:
    'shop-left-box shop-middle-box shop-right-box'
  ;

  .shop-left-box {
    grid-area: shop-left-box;

  }

  .shop-middle-box {
    grid-area: shop-middle-box;
    display: grid;
  }

  .shop-right-box {
    grid-area: shop-right-box;
    display: grid;
  }

}

.shop-image {
  position: relative;


  .bg-green {
    background-image: url(image/Bg-green.png);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    display: none;

  }

  .bicycle {
    background-image: url(image/bicycle.png);
    position: absolute;
    z-index: 10;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;

  }

  .bicycle-text {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 60%;
    color: white;
    z-index: 10;
    display: none;

  }

  .middle-text {
    top: 55%;
    display: none;
  }

}



.shop-now :hover>.bg-green {
  display: block;

}

.shop-now :hover>.bicycle {
  display: block;

}

.shop-now :hover>.bicycle-text {
  display: block;
}

.shop-now :hover>.bg-green {
  display: block;

}

.shop-left-box {
  display: grid;
  grid-template-areas:
    'left-left left-right'
    'left-bottom left-bottom'
  ;

  .left-left {
    grid-area: left-left;
  }

  .left-right {
    grid-area: left-right;
  }

  .left-bottom {
    grid-area: left-bottom;
  }
}

.shop-middle-box {
  display: grid;
  grid-template-areas:
    'middle-left middle-right'
  ;


  .middle-left {
    grid-area: middle-left;
  }

  .middle-right {
    grid-area: middle-right;
  }

}


.shop-right-box {
  display: grid;
  grid-template-areas:
    'right-top right-top'
    'right-bottom-left right-bottom-right'
  ;

  .right-top {
    grid-area: right-top;
  }

  .right-bottom-left {
    grid-area: right-bottom-left;
  }

  .right-bottom-right {
    grid-area: right-bottom-right;
  }


}


.discover {
  background-color: #282f35;
  padding-top: 75px;
  padding-bottom: 75px;

  .discover-button button {
    width: 300px;
    height: 50px;
    border: 2px solid grey;
    margin: 0 auto;
    background-color: inherit;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;

  }

  .discover-button :hover {
    background-color: rgba(128, 128, 128, 0.37);
    color: white;
    transition: 0.5s;
    border: 2px solid rgba(255, 255, 255, 0.685);
  }
}


.stay-on {
  background-color: white;


  .bottom-logo {
    padding-top: 110px;
    padding-bottom: 35px;


  }

  p {
    padding-bottom: 35px;
    font-size: 24px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.658);
  }

  .enter-mail {
    padding-bottom: 110px;
  }

  input {
    height: 70px;
    width: 400px;
    border: 1px solid rgba(128, 128, 128, 0.397);
    margin-bottom: 10px;
    font-size: 20px;
    font-style: italic;
    margin-right: 5px;
    padding-top: 7px;
    color: rgba(0, 0, 0, 0.342);
    padding-left: 20px;

  }

  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.342);

  }

  .go {
    height: 70px;
    width: 125px;
    border: none;
    background-color: #64c29e;
    color: white;
    font-size: 24px;
    line-height: 70px;
    cursor: pointer;
  }

  .go:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.582);
    border: 1px solid black;
    transition: 0.5s;

  }

}

.footer {
  max-width: 1600px;
  margin: 0 auto;
}

.footer-info {
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 100px;
  padding-bottom: 100px;

  .adress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    color: rgba(0, 0, 0, 0.61);
    height: 70px;


  }


  .socbut {
    line-height: 70px;
  }

  .socbut button {
    cursor: pointer;
  }

  .soc-icon {
    width: 35px;
    height: 35px;
    border: none;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .twitter {
    background-image: url(image/twitter.png);


  }

  .facebook {
    background-image: url(image/facebook2.png);

  }

  .pinterest {
    background-image: url(image/pinterest2.png);

  }

  


}

@media (max-width:768px) {

}


@media (max-width:1024px) {

  .first {
    width: 100%;
    width: auto;
  }



  .vintage {

    grid-template-areas:
      'vintage-text'
      'vintage-bottom'
      'vintage-left'
    ;


    .vintage-bottom img {
      width: 100%;
    }

    .vintage-left img {
      width: 100%;
    }
  }

  .la-boriosa {
    grid-template-areas:
      'boriosa-text'
      'boriosa-bottom '
      'boriosa-right'
    ;

    .boriosa-text {
      width: 100%;
      width: auto;
    }



    .boriosa-bottom img {
      width: 100%;
    }

    .boriosa-right img {
      width: 100%;
    }
  }

  .retro-bike {
    grid-template-areas:
      'retro-text'
      'retro-middle-bottom'
      'retro-left'
      'retro-right'
    ;

    .retro-middle-bottom img {
      width: 100%;
    }

    .retro-left img {
      width: 100%;
    }

    .retro-right img {
      width: 100%;
    }
  }


  .shop-now {
    grid-template-areas:
      'shop-middle-box shop-left-box'

      'shop-right-box shop-right-box'
    ;

    .shop-image>img {
      width: 100%;
    }
  }
}


// .nav-mobile-menu {
//   width: 25px;
//   height: 15px;
//   position: relative;
// }

// .nav-mobile-menu span {
//   height: 1px;
//   left: 0;
//   right: 0;
//   position: absolute;
//   background-color: black;
//   transition: .25s ease-in-out;
// }

// .nav-mobile-menu span:nth-child(1) {
//   top: 3px;
// }

// .nav-mobile-menu span:nth-child(2) {
//   top: 7px;
// }

// .nav-mobile-menu span:nth-child(3) {
//   bottom: 3px;
// }