* {
  box-sizing: border-box;
}



@media (max-width:767px) {}

body {
  font-family: 'Lato', sans-serif;
  display: grid;
  // grid-template-columns:;

  // grid-template-rows: 800px 470px 5fr 1fr 1fr 1fr 1fr 1fr 1fr 200px;
  // grid-auto-rows: minmax(auto, 800px);
  text-align: center;
  justify-content: center;

}

section {
  max-width: 1600px;

}

.first {
  background-image: url(image/head.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;

}

.header {
  max-width: 620px;
  margin: 0 auto;
}


.menu {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  max-width: 620px;
  margin: 0 auto;
  height: 85px;
  line-height: 85px;
  margin-top: 35px;

  li {
    list-style: none;
    font-size: 13px;
    font-weight: bold;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.685);
      letter-spacing: 1px;
    }
  }
}

.logo {
  margin: 0 30px;
}


.new-generation {

  background-color: #f7f7f7;


  .chain {

    width: 50px;
    height: 50px;
    background-image: url(image/chain.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 118px;
  }

  @import 'h2-style';

  p {
    max-width: 1080px;
    padding: 0 20px 0 20px;
    padding-bottom: 140px;
  }

  @import 'p-style';


}

.vintage {
  display: grid;
  grid-template-areas:
    'vintage-left vintage-text'
    'vintage-left vintage-bottom'
  ;

  .vintage-left {
    grid-area: vintage-left;
  }

  .vintage-text {
    grid-area: vintage-text;
    padding-left: 50px;
    padding-right: 50px;
  }

  .vintage-bottom {
    grid-area: vintage-bottom;
    position: relative;
  }

  @import 'h2-style';

  @import 'p-style';

  @import 'line';

  .vintage-text img {
    margin-top: 48px;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 40px;
    text-align: justify;
  }

  @import 'arrow';

}