* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

section {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.first {
  background-image: url(image/head.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.first .header .menu-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  line-height: 85px;
}

.first .header .menu-left li {
  list-style: none;
  font-size: 13px;
  font-weight: bold;
}

.first .header .menu-left li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.685);
  letter-spacing: 1px;
}

.first .header .menu-left li a:hover {
  color: #49a783;
  border: 1px solid #64c29e;
  padding: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.first .header .menu-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  line-height: 85px;
}

.first .header .menu-right li {
  list-style: none;
  font-size: 13px;
  font-weight: bold;
}

.first .header .menu-right li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.685);
  letter-spacing: 1px;
}

.first .header .menu-right li a:hover {
  color: #49a783;
  border: 1px solid #64c29e;
  padding: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.first .header .logo {
  margin: 0 30px;
}

.new-generation {
  background-color: #f7f7f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-generation .chain {
  width: 50px;
  background-image: url(image/chain.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 250px;
  margin-bottom: -80px;
}

.new-generation h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 2px;
}

.new-generation p {
  margin: 0 auto;
  line-height: 2;
  color: rgba(0, 0, 0, 0.658);
  font-size: 16px;
}

.new-generation p {
  max-width: 1080px;
  padding: 0 20px 0 20px;
  padding-bottom: 140px;
}

.vintage {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'vintage-left vintage-text' 'vintage-left vintage-bottom';
}

.vintage .vintage-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: vintage-left;
}

.vintage .vintage-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: vintage-text;
  padding-left: 50px;
  padding-right: 50px;
}

.vintage .vintage-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: vintage-bottom;
  position: relative;
}

.vintage h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 2px;
}

.vintage p {
  margin: 0 auto;
  line-height: 2;
  color: rgba(0, 0, 0, 0.658);
  font-size: 16px;
}

.vintage .line {
  color: rgba(0, 0, 0, 0.486);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 50px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.vintage .arrow {
  position: absolute;
  background-image: url(image/arrow_down.png);
  width: 28px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.vintage .vintage-text img {
  margin-top: 48px;
}

.vintage h2 {
  margin-bottom: 20px;
}

.vintage p {
  margin-bottom: 40px;
  text-align: justify;
}

.la-boriosa {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'boriosa-text boriosa-right' 'boriosa-bottom boriosa-right';
}

.la-boriosa .boriosa-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: boriosa-text;
  padding-left: 50px;
  padding-right: 50px;
}

.la-boriosa .boriosa-text h2 {
  margin-bottom: 20px;
}

.la-boriosa .boriosa-text p {
  margin-bottom: 40px;
  text-align: justify;
}

.la-boriosa .boriosa-text img {
  margin-top: 45px;
}

.la-boriosa .boriosa-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: boriosa-bottom;
  position: relative;
}

.la-boriosa .boriosa-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: boriosa-right;
  position: relative;
}

.la-boriosa .bor-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.la-boriosa h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 2px;
}

.la-boriosa p {
  margin: 0 auto;
  line-height: 2;
  color: rgba(0, 0, 0, 0.658);
  font-size: 16px;
}

.la-boriosa .line {
  color: rgba(0, 0, 0, 0.486);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 50px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.la-boriosa .arrow {
  position: absolute;
  background-image: url(image/arrow_down.png);
  width: 28px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.retro-bike {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'retro-left retro-text retro-right' 'retro-left retro-middle-bottom retro-right';
}

.retro-bike h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 2px;
}

.retro-bike p {
  margin: 0 auto;
  line-height: 2;
  color: rgba(0, 0, 0, 0.658);
  font-size: 16px;
}

.retro-bike .line {
  color: rgba(0, 0, 0, 0.486);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 50px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.retro-bike .arrow {
  position: absolute;
  background-image: url(image/arrow_down.png);
  width: 28px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.retro-bike .retro-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: retro-left;
}

.retro-bike .retro-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: retro-text;
  padding-left: 50px;
  padding-right: 50px;
}

.retro-bike .retro-text h2 {
  margin-bottom: 20px;
}

.retro-bike .retro-text p {
  margin-bottom: 40px;
  text-align: justify;
}

.retro-bike .retro-text img {
  margin-top: 37px;
}

.retro-bike .retro-middle-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: retro-middle-bottom;
}

.retro-bike .retro-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: retro-right;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slider {
  background-color: #f7f7f7;
  position: relative;
}

.slider .aod-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 125px;
  margin-bottom: 35px;
  letter-spacing: 2;
}

.slider .title {
  margin-bottom: 25px;
  font-size: 18px;
}

.slider .title span {
  font-weight: bold;
}

.slider .time {
  color: rgba(0, 0, 0, 0.486);
}

.slider .slide1 p {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 185px;
  font-size: 24px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.486);
  line-height: 1.5;
}

.slider .slick-dots {
  bottom: 70px;
}

.slider .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: inherit;
}

.slider .slick-dots .slick-active {
  background-color: rgba(128, 128, 128, 0.575);
}

.slider .slick-dots li button:before {
  content: none;
}

.shop-now {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'shop-left-box shop-middle-box shop-right-box';
}

.shop-now .shop-left-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: shop-left-box;
}

.shop-now .shop-middle-box {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: shop-middle-box;
  display: -ms-grid;
  display: grid;
}

.shop-now .shop-right-box {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: shop-right-box;
  display: -ms-grid;
  display: grid;
}

.shop-image {
  position: relative;
}

.shop-image .bg-green {
  background-image: url(image/Bg-green.png);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  display: none;
}

.shop-image .bicycle {
  background-image: url(image/bicycle.png);
  position: absolute;
  z-index: 10;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}

.shop-image .bicycle-text {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 60%;
  color: white;
  z-index: 10;
  display: none;
}

.shop-image .middle-text {
  top: 55%;
  display: none;
}

.shop-now :hover > .bg-green {
  display: block;
}

.shop-now :hover > .bicycle {
  display: block;
}

.shop-now :hover > .bicycle-text {
  display: block;
}

.shop-now :hover > .bg-green {
  display: block;
}

.shop-left-box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left-left left-right' 'left-bottom left-bottom';
}

.shop-left-box .left-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-left;
}

.shop-left-box .left-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left-right;
}

.shop-left-box .left-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: left-bottom;
}

.shop-middle-box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'middle-left middle-right';
}

.shop-middle-box .middle-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: middle-left;
}

.shop-middle-box .middle-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: middle-right;
}

.shop-right-box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'right-top right-top' 'right-bottom-left right-bottom-right';
}

.shop-right-box .right-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: right-top;
}

.shop-right-box .right-bottom-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: right-bottom-left;
}

.shop-right-box .right-bottom-right {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: right-bottom-right;
}

.discover {
  background-color: #282f35;
  padding-top: 75px;
  padding-bottom: 75px;
}

.discover .discover-button button {
  width: 300px;
  height: 50px;
  border: 2px solid grey;
  margin: 0 auto;
  background-color: inherit;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.discover .discover-button :hover {
  background-color: rgba(128, 128, 128, 0.37);
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid rgba(255, 255, 255, 0.685);
}

.stay-on {
  background-color: white;
}

.stay-on .bottom-logo {
  padding-top: 110px;
  padding-bottom: 35px;
}

.stay-on p {
  padding-bottom: 35px;
  font-size: 24px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.658);
}

.stay-on .enter-mail {
  padding-bottom: 110px;
}

.stay-on input {
  height: 70px;
  width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.397);
  margin-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  margin-right: 5px;
  padding-top: 7px;
  color: rgba(0, 0, 0, 0.342);
  padding-left: 20px;
}

.stay-on ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.342);
}

.stay-on .go {
  height: 70px;
  width: 125px;
  border: none;
  background-color: #64c29e;
  color: white;
  font-size: 24px;
  line-height: 70px;
  cursor: pointer;
}

.stay-on .go:hover {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.582);
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  max-width: 1600px;
  margin: 0 auto;
}

.footer-info {
  background-color: #f7f7f7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-info .adress {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: start;
  color: rgba(0, 0, 0, 0.61);
  height: 70px;
}

.footer-info .socbut {
  line-height: 70px;
}

.footer-info .socbut button {
  cursor: pointer;
}

.footer-info .soc-icon {
  width: 35px;
  height: 35px;
  border: none;
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-info .twitter {
  background-image: url(image/twitter.png);
}

.footer-info .facebook {
  background-image: url(image/facebook2.png);
}

.footer-info .pinterest {
  background-image: url(image/pinterest2.png);
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .new-generation h2 {
    font-size: 30px;
  }
  .new-generation p {
    font-size: 25px;
  }
  .middle h2 {
    font-size: 30px;
  }
  .middle p {
    font-size: 25px;
  }
  .base-menu .active-menu {
    visibility: visible;
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .logo {
    padding-top: 50px;
    padding-right: 300px;
  }
  .nav-mobile-menu {
    width: 100px;
    height: 50px;
    position: relative;
    margin-top: 50px;
    margin-left: 350px;
  }
  .base-menu {
    position: relative;
  }
  .base-menu .vertical-menu {
    position: fixed;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    top: 150px;
    justify-items: end;
    z-index: 20;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: #64c29e41;
    height: 340px;
    padding-top: 10px;
  }
  .base-menu .vertical-menu li {
    margin-top: 10px;
    margin: 10px;
  }
  .base-menu .vertical-menu li a {
    text-decoration: none;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.664);
    padding: 10px;
  }
  .base-menu .vertical-menu li a:hover {
    border-radius: 10px;
  }
  .nav-mobile-menu span {
    height: 2px;
    left: 0;
    right: 0;
    position: absolute;
    background-color: black;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .nav-mobile-menu span:nth-child(1) {
    top: 10px;
  }
  .nav-mobile-menu span:nth-child(2) {
    top: 25px;
  }
  .nav-mobile-menu span:nth-child(3) {
    bottom: 10px;
  }
  .navigation {
    position: fixed;
    width: 280px;
    max-width: 280px;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0;
    visibility: hidden;
  }
  .nav-mobile-menu.active-menu span:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav-mobile-menu.active-menu span:nth-child(2) {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav-mobile-menu.active-menu span:nth-child(3) {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .base-menu {
    visibility: hidden;
  }
  .base-menu.active-menu {
    visibility: visible;
    margin-left: 250px;
    -webkit-transform: translateX(1);
            transform: translateX(1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 769px) {
  .header {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 150px 1fr;
        grid-template-columns: 1fr 150px 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    margin-top: 20px;
    height: 85px;
    max-width: 850px;
  }
  .base-menu {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }
  .first {
    width: 100%;
  }
  .new-generation h2 {
    font-size: 30px;
  }
  .new-generation p {
    font-size: 25px;
  }
  .middle h2 {
    font-size: 30px;
  }
  .middle p {
    font-size: 25px;
  }
  .vintage {
        grid-template-areas: 'vintage-text' 'vintage-bottom' 'vintage-left';
  }
  .vintage .vintage-bottom img {
    width: 100%;
  }
  .vintage .vintage-left img {
    width: 100%;
  }
  .la-boriosa {
        grid-template-areas: 'boriosa-text' 'boriosa-bottom ' 'boriosa-right';
  }
  .la-boriosa .boriosa-text {
    width: 100%;
  }
  .la-boriosa .boriosa-bottom img {
    width: 100%;
  }
  .la-boriosa .boriosa-right img {
    width: 100%;
  }
  .retro-bike {
        grid-template-areas: 'retro-text' 'retro-middle-bottom' 'retro-left' 'retro-right';
  }
  .retro-bike .retro-middle-bottom img {
    width: 100%;
  }
  .retro-bike .retro-left img {
    width: 100%;
  }
  .retro-bike .retro-right img {
    width: 100%;
  }
  .shop-now {
        grid-template-areas: 'shop-middle-box shop-left-box'  'shop-right-box shop-right-box';
  }
  .shop-now .shop-image > img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}
/*# sourceMappingURL=style.css.map */