* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  max-width: 1600px;
}

.first {
  background-image: url(image/head.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  max-width: 620px;
  margin: 0 auto;
  height: 85px;
  line-height: 85px;
  margin-top: 35px;
}

.menu li {
  list-style: none;
  font-size: 13px;
  font-weight: bold;
}

.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.685);
  letter-spacing: 1px;
}

.logo {
  margin: 0 30px;
}

.new-generation {
  background-color: #f7f7f7;
}

.new-generation .chain {
  width: 50px;
  background-image: url(image/chain.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 250px;
  margin-bottom: -80px;
}

.new-generation h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 2px;
}

.new-generation p {
  margin: 0 auto;
  line-height: 2;
  color: rgba(0, 0, 0, 0.658);
  font-size: 16px;
}

.new-generation p {
  max-width: 1080px;
  padding: 0 20px 0 20px;
  padding-bottom: 140px;
}

.vintage {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'vintage-left vintage-text' 'vintage-left vintage-bottom';
}

.vintage .vintage-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: vintage-left;
}

.vintage .vintage-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: vintage-text;
  padding-left: 50px;
  padding-right: 50px;
}

.vintage .vintage-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: vintage-bottom;
  position: relative;
}

.vintage h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 2px;
}

.vintage p {
  margin: 0 auto;
  line-height: 2;
  color: rgba(0, 0, 0, 0.658);
  font-size: 16px;
}

.vintage .line {
  color: rgba(0, 0, 0, 0.486);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 50px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.vintage .arrow {
  position: absolute;
  background-image: url(image/arrow_down.png);
  width: 28px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.vintage .vintage-text img {
  margin-top: 48px;
}

.vintage h2 {
  margin-bottom: 20px;
}

.vintage p {
  margin-bottom: 40px;
  text-align: justify;
}

.la-boriosa {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'boriosa-text boriosa-right' 'boriosa-bottom boriosa-right';
}

.la-boriosa .boriosa-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: boriosa-text;
  padding-left: 50px;
  padding-right: 50px;
}

.la-boriosa .boriosa-text h2 {
  margin-bottom: 20px;
}

.la-boriosa .boriosa-text p {
  margin-bottom: 40px;
  text-align: justify;
}

.la-boriosa .boriosa-text img {
  margin-top: 45px;
}

.la-boriosa .boriosa-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: boriosa-bottom;
  position: relative;
}

.la-boriosa .boriosa-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: boriosa-right;
  position: relative;
}

.la-boriosa .bor-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.la-boriosa h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 2px;
}

.la-boriosa p {
  margin: 0 auto;
  line-height: 2;
  color: rgba(0, 0, 0, 0.658);
  font-size: 16px;
}

.la-boriosa .line {
  color: rgba(0, 0, 0, 0.486);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 50px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.la-boriosa .arrow {
  position: absolute;
  background-image: url(image/arrow_down.png);
  width: 28px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.retro-bike {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'retro-left retro-text retro-right' 'retro-left retro-middle-bottom retro-right';
}

.retro-bike h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 2px;
}

.retro-bike p {
  margin: 0 auto;
  line-height: 2;
  color: rgba(0, 0, 0, 0.658);
  font-size: 16px;
}

.retro-bike .line {
  color: rgba(0, 0, 0, 0.486);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 50px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.retro-bike .arrow {
  position: absolute;
  background-image: url(image/arrow_down.png);
  width: 28px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.retro-bike .retro-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: retro-left;
}

.retro-bike .retro-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: retro-text;
  padding-left: 50px;
  padding-right: 50px;
}

.retro-bike .retro-text h2 {
  margin-bottom: 20px;
}

.retro-bike .retro-text p {
  margin-bottom: 40px;
  text-align: justify;
}

.retro-bike .retro-text img {
  margin-top: 37px;
}

.retro-bike .retro-middle-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: retro-middle-bottom;
}

.retro-bike .retro-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: retro-right;
}

@media (max-width: 1024px) {
  .vintage {
        grid-template-areas: 'vintage-text' 'vintage-bottom' 'vintage-left';
  }
  .vintage .vintage-bottom img {
    width: 100%;
  }
  .vintage .vintage-left img {
    width: 100%;
  }
  .la-boriosa {
        grid-template-areas: 'boriosa-text' 'boriosa-bottom ' 'boriosa-right';
  }
  .la-boriosa .boriosa-bottom img {
    width: 100%;
  }
  .la-boriosa .boriosa-right img {
    width: 100%;
  }
  .retro-bike {
        grid-template-areas: 'retro-text' 'retro-middle-bottom' 'retro-left' 'retro-right';
  }
  .retro-bike .retro-middle-bottom img {
    width: 100%;
  }
  .retro-bike .retro-left img {
    width: 100%;
  }
  .retro-bike .retro-right img {
    width: 100%;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slider {
  background-color: #f7f7f7;
  position: relative;
}

.slider .aod-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 125px;
  margin-bottom: 35px;
  letter-spacing: 2;
}

.slider .title {
  margin-bottom: 25px;
  font-size: 18px;
}

.slider .title span {
  font-weight: bold;
}

.slider .time {
  color: rgba(0, 0, 0, 0.486);
}

.slider .slide1 p {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 185px;
  font-size: 24px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.486);
  line-height: 1.5;
}

.slider .slick-dots {
  bottom: 70px;
}

.slider .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: inherit;
}

.slider .slick-dots .slick-active {
  background-color: rgba(128, 128, 128, 0.575);
}

.slider .slick-dots li button:before {
  content: none;
}

.shop-now {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'shop-left-box shop-middle-box shop-right-box';
}

.shop-now .shop-left-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: shop-left-box;
}

.shop-now .shop-middle-box {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: shop-middle-box;
  display: -ms-grid;
  display: grid;
}

.shop-now .shop-right-box {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: shop-right-box;
  display: -ms-grid;
  display: grid;
}

.shop-left-box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left-left left-right' 'left-bottom left-bottom';
}

.shop-left-box .left-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-left;
}

.shop-left-box .left-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left-right;
}

.shop-left-box .left-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: left-bottom;
}

.shop-middle-box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'middle-left middle-right';
}

.shop-middle-box .middle-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: middle-left;
}

.shop-middle-box .middle-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: middle-right;
}

.shop-right-box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'right-top right-top' 'right-bottom-left right-bottom-right';
}

.shop-right-box .right-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: right-top;
}

.shop-right-box .right-bottom-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: right-bottom-left;
}

.shop-right-box .right-bottom-right {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: right-bottom-right;
}
/*# sourceMappingURL=style.css.map */